{{- $targetOS := "unknown" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $targetOS = "mac" }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $targetOS = "windows" }}
{{- else if eq (.chezmoi.osRelease.id | default "") "ubuntu" }}
{{-   $targetOS = "ubuntu" }}
{{- end }}

{{- $userName := promptStringOnce . "user.name" "User name" "uMa" -}}
{{- $userEmail := promptStringOnce . "user.email" "Email address" "ysmst35@gmail.com" }}

data:
  targetOS: {{ $targetOS }}
  user:
    name: {{ $userName | quote }}
    email: {{ $userEmail | quote }}
