{{- $targetOS := "unknown" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $targetOS = "mac" }}
{{- else if eq (.chezmoi.osRelease.id | default "") "ubuntu" }}
{{-   $targetOS = "ubuntu" }}
{{- end }}

data:
  targetOS: {{ $targetOS }}
